.edus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.date {
  color: var(--highlight);
  font-size: 11px;
  line-height: 16px;
  font-weight: 500;
}

.major {
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  color: #3A395D;
}

.school {
  /*  */
}

:global(.dark) .edus {
  gap: 37px;

  .edu {
    gap: 5px;
  }

  .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(144, 144, 144, 1);
    order: -1;
  }

  .major {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgba(255, 255, 255, 1);
  }

  .school {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: rgba(201, 201, 201, 1);
    margin-bottom: 3px;
  }
}
