@import url(./social.module.css);

.id {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(144, 144, 144, 1);
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  gap: 15px 40.3px;
}

:global(.dark) {
  .id {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 7.5px;
    margin-top: 25px;

    color: inherit;
  }

  .socials {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0;
    color: inherit;
  }
}
