.page {
  display: flex;
  flex-direction: column;
  width: var(--page-width);
  height: var(--page-height);
  background: var(--background);
  text-align: left;
  gap: 37px;
  overflow: auto;
  box-sizing: border-box;

  header {
    padding: 30px 20px 0 36px;
  }

  .main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 40px;
    gap: 37px;
    overflow: auto;
  }
}


.left {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 22px;
}

.right {
  flex: none;
  display: flex;
  flex-direction: column;
  width: 358.04px;
  gap: 35.76px;
  height: 100%;
  box-shadow: 0px 10px 28px 0px #27194D08;

  box-shadow: 0px 3px 20px 0px var(--highlight);

  box-shadow: 0px -2px 5px 0px #27194D05;
  border: 0.5px solid #E5E5EA;
  border-bottom: none;
  border-right: none;

  border-radius: 20px 0 0 0;

  padding: 29px 41px 0 42px;
  box-sizing: border-box;
}

li::marker {
  color: var(--highlight);
}

.intro {
  padding-bottom: 8.69px;
  border-bottom: solid 0.5px #E5E5EA;
}

.exprs {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .subExpr {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 8px;
  }
}


:global(.dark) .page {
  gap: 35px;

  header {
    padding: 23.34px 37.45px 0 30px;
  }

  .main {
    padding: 0 30px 32px;
  }

  .left {
    margin-top: 0;
  }

  .right {
    width: 250px;
    gap: 54px;
    box-shadow: none;
    border: none;
    padding: 0;
  }

  .intro {
    border: none;
  }

  li::marker {
    color: rgba(255, 255, 255, 1);
  }
}
