body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight {
  color: var(--highlight);
}

:root {
  --background: #fff;
  --highlight: #7051EF;

  --page-width: 595px;
  --page-height: 842px;
}

.dark {
  --background: #000;

  word-spacing: 0.4rem;
}


@media (min-width: 768px) {
  .right {
    width: 358.04px;
  }

  .dark {
    .right {
      width: 250px;
    }
  }
}


@media print {
  :root {
    font-size: 20px;

  }

  .safari {
    zoom: 1.37;
  }

  body * {
    visibility: hidden;
    /* Hide everything */
  }

  #page * {
    visibility: visible;
    /* Show only the print area */
  }

  #page {
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 0;

    height: var(--page-height);
    width: 210mm;
    height: 297mm;
    overflow: visible;

    header {
      flex-direction: row;
    }

    .main {
      flex-direction: row;
    }

    .right {
      width: 358.04px;
      order: 0;
      height: 100%;
    }

    .social {
      display: flex;
    }

    .contact-0 {
      display: none;
    }

    .contact-1 {
      display: flex;
      order: 0;
    }
  }

  .dark {
    .right {
      width: 250px;
    }
  }


  #__svg__icons__dom__ * {
    visibility: visible;
  }

  #buttons * {
    display: none;
  }

  @page {
    size: A4;
    /* Set page size */
    margin: 0;
    /* Remove default margins */
  }

}
