body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lt1 {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #3A395D;
}

.lt2 {
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  color: #3A395D;
}

.lt3 {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}

.lt4 {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #6E6D8F;
  letter-spacing: -0.5px;
}

.highlight {
  color: var(--highlight);
}

:root {
  --highlight: #7051EF;
}
